GREEN='\033[0;32m'
NC='\033[0m' # No Color
echo -e "${GREEN}- OSINT Relay on {{ ansible_host }}${NC}"
echo '  Outgoing web traffic is enabeled. Please make sure your OSINT C2 sends all traffic through this relay'
echo '  Please make sure your OSINT C2 sends all traffic through this relay'
