'------------------------------------------------------'
This is the README for the OSINT relay setup for {{ ansible_host }}

Outgoing web traffic is enabeled. Please make sure your OSINT C2 sends all traffic through this relay
Please make sure your OSINT C2 sends all traffic through this relay

Not too much special going on here, this functionality is basically ensuring that 
traffic coming from an OSINT C2 reaches the internet.

'------------------------------------------------------'

