TEAMSERVER_PASSWORD={{ cobaltstrike_password }}
RELAY_HOST={{ relay_host_ip }}
VPN_CONFIG=cobaltstrike.ovpn
MALLEABLE_PROFILE={{ malleable_profile }}
CODE_NAME={{ codename }}
CS_LICENSE={{ cs_license }}
