#ANSIBLE_MARKER_UPSTREAM


server {
    listen 80;
    listen 443 ssl;
    server_name {{ domain_name }};

    proxy_set_header    X-Real-IP        $remote_addr;
    proxy_set_header    X-Forwarded-For  $proxy_add_x_forwarded_for;

    #ANSIBLE_MARKER_PROXY

    location / {
        proxy_pass {{nginx_bounce_site}};
    }

    ssl_certificate /etc/letsencrypt/live/{{domain_name}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{domain_name}}/privkey.pem;
}

