GREEN='\033[0;32m'
NC='\033[0m' # No Color
echo -e "${GREEN}- Dropbox Relay setup${NC}"
echo '  - Relays incoming openvpn connections for the dropbox on port {{ exposed_port }}'
echo '  - This relay does not interact with this traffic, just forwards it.'
