'------------------------------------------------------'

'This is the README for the dropbox forwarder'

- Dropbox Relay setup
  - Relays incoming openvpn connections for the dropbox on port {{ exposed_port }}
  - This relay does not interact with this traffic, just forwards it.

'------------------------------------------------------'

