GREEN='\033[0;32m'
NC='\033[0m' # No Color
echo -e "${GREEN}- Web Catcher for {{ relay_host }}${NC}"
echo '  - Requests are received via {{ relay_host }} on {{ relay_host_ip }}'
echo '  - You can find the logs in /TOOLKIT/web-catcher/docker/{{ relay_host }}/logs/'
