GREEN='\033[0;32m'
NC='\033[0m' # No Color
echo -e "${GREEN}- OSINT Server with relay {{ relay_host_ip }}${NC}"
echo '  - This server hosts an always-on VPN connection to {{ relay_host_ip }}$'
echo '  - There is a killswitch that prevents you from accessing the internet if VPN drops'
echo '  - RDP is enabeled on this system so you can use the browser and desktop tools'
