GREEN='\033[0;32m'
NC='\033[0m' # No Color
echo -e "${GREEN}- Manual Phishing Docker for {{ domain_name }}${NC}"
echo '  - Email is sent via {{ relay_host }} on {{ relay_host_ip }}'
echo '  - Use /TOOLKIT/docker-info.sh and /TOOLKIT/docker-interact.sh to'
echo '    interact with this container and sent out your phish'
